.list_of_students{
  border-bottom: 2px solid rgb(212, 212, 212);
}
.students_list_table {
    border: 1px solid darkgrey;
    padding: 10px 5px;
    border-radius: 5px;
  }
  
  .students_list_table td {
    border: 1px dotted rgb(32, 32, 32);
    padding: 5px;
    text-align: center;
  }
  
  .students_list_table .student_record td input[type="button"] {
    display: block;
    margin: 5px;
    width: 60px;
  }