<div class="list_of_students" *ngIf="students.length">
  <h2>Students list</h2>
  <span *ngIf="changing">Changing...</span>
  <div *ngIf="!changing">
    <table class="students_list_table">
      <thead>
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>Surname</td>
          <td>Date of birth</td>
          <td>Phone</td>
          <td>Email</td>
          <td>Registration date</td>
          <td>Last changes</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <app-student-item *ngFor="let student of students" [student]="student" (delete)="onDelete($event)" (change)="onChange($event)"></app-student-item>
      </tbody>
    </table>
  </div>
</div>
