header {
  height: 100px;
  color: darkgreen;
  padding: 20px 0 20px 100px;
  border-bottom: 2px solid darkgrey;
}

main {
  width: 1024px;
  margin: auto;
  display: flex;
  padding: 0 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

app-add-form,
app-change-form,
app-students-list {
  width: 100%;
}
