<div class="change_record" >
  <h2>Change student record</h2>
  <form class="change_record_form" (ngSubmit)="onSaveChanges(); creatStudForm.reset()" #changeRecForm="ngForm">
    <input type="text" placeholder="Name" name="first_name" [(ngModel)]="changeStud.first_name" required />
    <input type="text" placeholder="Surname" name="last_name" [(ngModel)]="changeStud.last_name" required />
    <input type="date" placeholder="Birthday" name="birth_date" [(ngModel)]="changeStud.birth_date" required />
    <input type="tel" placeholder="Phone number" name="phone" [(ngModel)]="changeStud.phone" required />
    <input type="email" placeholder="E-mail address" name="email" [(ngModel)]="changeStud.email" required />
    <button type="submit" [disabled]="changeRecForm.form.invalid">Save</button>
  </form>
</div>
